// Couleurs principales
$primary-color: #4F46E5;
$primary-hover: #1338CA;
$danger-color: #EF4444;

// Couleurs de fond
$bg-site: #F9FAFB;
$bg-button: #EEF2FF;

// Couleurs de texte
$text-title: #111827;
$text-secondary: #4B5563;

// Polices (à adapter selon tes besoins)
$font-main: 'Inter', sans-serif;