:root {
  /* Couleurs */
  --color-primary: #4F46E5;
  --color-primary-hover: #4338CA;
  --color-bg: #F9FAFB;
  --color-button-bg: #EEF2FF;
  --color-danger: #EF4444;
  --color-text: #111827;
  --color-text-secondary: #4B5563;

  /* Typographie */
  --font-family: 'Inter', sans-serif;

  --font-size-h1: 24px;
  --font-weight-h1: 700;

  --font-size-h2: 18px;
  --font-weight-h2: 600;

  --font-size-body: 14px;
  --font-weight-body: 400;

  --font-size-label: 14px;
  --font-weight-label: 500;
}